# Ejemplo de configuración de entorno.
# Copiar este archivo a ".env" y configurar las variables reales.
#
# Estas variables deben estar presentes en el entorno antes de correr el proyecto

DB_USER=
DB_PASS=
